<a class="search-button align-icon gp-random-note" href="/~random" title="{{ pluginSettings.label }}" style="text-decoration: none; color: inherit;">
  <span class="search-icon"><i data-lucide="dices"></i></span>
  <span class="search-text">{{ pluginSettings.label }}</span>
</a>
